# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
.venv-1/
venv/

# Model files
*.pth
*.pt

# Dataset
dataset/

# macOS
.DS_Store

# IDE
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Build files
build/
dist/
